.header {
  display: flex;
  overflow: visible;
  margin: 20px;
  margin-bottom: 40px;
}

.add-button {
  overflow: visible;
  margin-left: auto;
  width: 180px;
  text-align: center;
  border-radius: 30px;
  font-size: large;
  margin-right: 20px;
  background-color: #21005E;
}

.display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body {
  height: 100vw;
  width: 100vw;
  position: absolute;
  background-color: #FFFBFE;
}

.title {
  font-size: 3em;
  margin-top: 10px;
}

// * {
//   border: 1px solid red;
// }