@use '@angular/material' as mat;
@import 'src/styles.scss';

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.input-form {
  height: 90vh;
  width: 30vw;
}

.name-input {
  font-size: xx-large;
  width: 100%;
}

.description-input {
  font-size: 1.3em;
  width: 100%;
}

.input-form {
  height: auto;
  width: 50vw;
}

.name-input {
  font-size: xx-large;
  width: 100%;
}

.description-input {
  font-size: 1.3em;
  width: 100%;
}

.uses-section,
.benefits-section {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 20px;
}

.left-half,
.right-half {
  flex: 50%;
}

.uses-title,
.benefits-title {
  font-size: 2em;
  font-weight: 200;
  flex: 1 0 25%;
  padding: 0 10px;
}

.submit-product-button,
.delete-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  border-radius: 25px;
  font-size: 1.5em !important;
  font: weight 400px !important;
}

.button-text {
  width: 30%;
}


.submit-product-button {
  background-color: mat.get-color-from-palette($my-primary) !important;
}

.delete-button {
  background-color: mat.get-color-from-palette($my-warn) !important;
}

// * {
//   border: 1px solid red;
// }

// @media screen and (min-width: 600px) {
//   * {}
// }