<span class="card-container">
  <mat-card class="display-card" *ngFor="let product of displayedProducts">
    <div class="title-container">
      <mat-card-title class="product-name">{{product.name}}
      </mat-card-title>
      <button mat-mini-fab class="edit-icon">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <mat-card-subtitle class="product-description">{{product.description}}</mat-card-subtitle>
    <div class="bottom">
      <span class="uses-container">
        Uses
        <div>
          <ul class="uses">
            <li *ngIf="product.uses[0] === true">Diffuse</li>
            <li *ngIf="product.uses[1] === true">Topical</li>
            <li *ngIf="product.uses[2] === true">Ingest</li>
            <li *ngIf="product.uses[3] === true">Surface Cleaning</li>
          </ul>
        </div>
      </span>
      <span class="benefits-container">
        Benefits:
        <div>
          <ul class="benefits">
            <li *ngIf="product.uses[0] === true">Boost Mood</li>
            <li *ngIf="product.uses[1] === true">Stress Relief</li>
            <li *ngIf="product.uses[2] === true">Sleep Aid</li>
            <li *ngIf="product.uses[3] === true">Inflammation</li>
            <li *ngIf="product.uses[3] === true">Pain Relief</li>
          </ul>
        </div>
      </span>
    </div>
  </mat-card>
</span>