* {
  box-sizing: border-box;
}

.card-container {
  display: flex;
  width: 98vw;
  flex-wrap: wrap;
}

.display-card {
  flex: 40%;
  border: 1px solid black;
  margin: 10px;
}

.uses-container,
.benefits-container {
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

// .uses-container {}

// .benefits-container {}

.header,
.bottom {
  display: inline-flex;
  width: 100%;
  height: 50%;
}

.product-name {
  font-weight: 100;
  font-size: 20px;
}

* {
  border: 1px solid red;
}