@use '@angular/material' as mat;
@import 'src/styles.scss';

* {
  box-sizing: border-box;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.display-card {
  flex: 1 0 30%;
  margin: 10px;
  border-radius: 10px;
  // background-color: var(--md-sys-color-primary-container);
  background: linear-gradient(to top,
      mat.get-color-from-palette($my-primary, 50) 0%,
      mat.get-color-from-palette($my-primary, 50) 80%,
      mat.get-color-from-palette($my-primary, 100) 80%,
      mat.get-color-from-palette($my-primary, 100) 100%, );

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.edit-icon {
  float: right;
  top: -10px;
}

.uses-container,
.benefits-container {
  font-size: 1.2em;
  color: var(--high-emphasis-helper);
  width: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

// .uses-container {}

// .benefits-container {}

.bottom {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.product-name {
  font-weight: 400;
  font-size: 2.5em !important;
  color: var(--high-emphasis-helper);
  padding-bottom: 40px;
}

.product-description {
  font-size: 1.5em;
  margin-bottom: 100px;
  color: var(--high-emphasis-helper);
}

// * {
//   border: 1px solid red;
// }