.input-form {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  overflow: hidden;
}

.name-input {
  font-size: xx-large;
  width: 75%;
}

.description-input {
  font-size: x-large;
  width: 75%;
}

.uses-title {
  font-weight: 200;
}

.benefits-title {
  font-weight: 200;
}

.submit-product-button {
  margin: auto 30px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 80%;
  font-size: large;
  padding: 10px 20px;
  height: 50px;
  border-radius: 25px;
  justify-self: center;
}

// * {
//   border: 1px solid red;
// }