@use '@angular/material' as mat;
@import 'src/styles.scss';

.input-form {
  height: auto;
  width: 30vw;
}

.name-input {
  font-size: xx-large;
  width: 100%;
}

.description-input {
  font-size: 1.3em;
  width: 100%;
}

.uses-section,
.benefits-section {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 20px;
}

.left-half,
.right-half {
  flex: 50%;
}

.uses-title,
.benefits-title {
  font-size: 2em;
  font-weight: 200;
  flex: 1 0 25%;
  padding: 0 10px;
}

.submit-product-button {
  position: relative;
  float: right;
  display: inline-flex;
  width: auto;
  padding: 5px 20px;
  border-radius: 25px;
  font-size: 1.5em !important;
  background-color: mat.get-color-from-palette($my-primary);
}

.button-text {
  width: 100%;
}

// * {
//   border: 1px solid black;
// }

// @media screen and (min-width: 600px) {
//   * {}
// }